<div class="row">
    <div class="col-9">
        <h2>{{ article.reference }}</h2> 
    </div>
    <div class="col-3 text-right">
        <B style="font-size:2.5em;" class="text-primary">{{ article.price|number_format(2) }} €</B>
        <br>
    </div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
</div>
    <br>
<div class="row">
    <div class="col-6 mt-3">
        <div data-slider>
        {% if article.pictures is empty %}
            <img src="{{ '/images/articles/emptyarticle.jpg' | imagine_filter('medium') }}">
        {% else %}
            {% for picture in article.pictures %}
                <img src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('medium') }}">
            {% endfor %}
        {% endif %}
        </div>
    </div>
    <div class="col-6 mt-3">
        <table class="table">
            <tbody>
                <tr>
                    <th>titre</th>
                    <td>{{ article.reference }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ article.description }}</td>
                </tr>
                <tr>
                    <th>Catégorie</th>
                    <td>{{ article.catalog.reference }}</td>
                </tr>
                <tr>
                    <th>Contact vendeur</th>
                    <td>{{ vendor.username| capitalize }}</td>
                </tr>
            </tbody>
        </table>
        
        <div class="text-center">
            <a href="{{ path('cart_add', {id: article.id, slug: article.slug})}}" class="btn btn-primary">Ajouter au panier</a>
            {{ include('best/_contact.html.twig') }}
        </div>
    </div>
</div>

