{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6">
            <h1>Article</h1> 
        </div>
        <div class="col-6 my-auto">
            <a href="{{ path('products') }}" class="btn btn-primary float-right">Retour à la liste</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            {% if article.filename %}
                <img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('medium') }}" alt="..." class="img-thumbnail">
            {% endif %}
        </div>
        <div class="col-9">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ article.id }}</td>
                    </tr>
                    <tr>
                        <th>Reference</th>
                        <td>{{ article.reference }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ article.description }}</td>
                    </tr>
                    <tr>
                        <th>Catégorie</th>
                        <td>{{ article.catalog.reference }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    
{% endblock %}
