{% extends 'base.html.twig' %}

{% block title %}Panier v2{% endblock %}

{% block body %}
    {# {{ dump(allo) }}
    {{ dump(addressId) }} #}

    <div class="bg-light p-5">
        <div class="d-flex">
            <div class="p-1"><h4>Récapitulatif de votre panier, {{ app.user.firstname }}</h4></div>
                <div class="ml-auto mt-4"><a href="{{ path('commande_delivery') }}" class="btn btn-primary">Etape 2 - livraison</a></div>
            </div>
        </div>
    {% if items | length > 0 %}
        <table class="table mt-5">
            <thead>
                <tr>
                    <th>Visuel</th>
                    <th>Produit</th>
                    <th>Description</th>
                    <th>Prix Unitaire</th>
                    <th>Qté</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>
                        {% if item.article.filename %}
                            <img src="{{ vich_uploader_asset(item.article, 'imageFile') | imagine_filter('min') }}" alt="..." class="img-thumbnail">
                        {% endif %}
                    </td>
                    <td>{{ item.article.reference }}</td>
                    <td>{{ item.article.description }}</td>
                    <td>{{ item.article.price }} €</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.article.price * item.quantity }} €</td>
                    <td>
                        <a class="btn btn-danger btn-sm" href="{{path('cart_remove', {'id': item.article.id })}}">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                <a href="{{ path('cart_index')}}" class="btn btn-secondary float-right mt-1">retour au panier</a>
            </tbody>
            <tfoot>
                <tr style="font-size:1.5em;">
                    <td colspan="5" class="text-right font-weight-bold">TOTAL: </td>
                    <td><B>  {{ total }}€</B></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p>Surprise, c'est vide !</p>
    {% endif %}
{% endblock %}
    