{% extends 'base.html.twig' %}

{% block title %}Espace inscription{% endblock %}

{% block body %}
    <form action="#" method="POST">
        <div class="container ">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4 text-center">Inscription</h1>
                    <p class="lead text-center">Vous n'avez pas encore de compte, en deux trois clics, créer ton compte pour nous rejoindre, <a href={{ path('registration') }}>ici</a></p>
                </div>

                <div class="container mt-4 w-75">
                    <div class="form-group">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-6">
                                {{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder':'example@email.fr'}}) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(form.username, {'label': 'Nom utilisateur', 'attr': {'placeholder':'julien22'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ form_row(form.lastname, {'label': 'Nom', 'attr': {'placeholder':'DEVILLE'}}) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(form.firstname, {'label': 'Prénom', 'attr': {'placeholder':'julien'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder':'******'}}) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(form.passwordConfirm, {'label': 'Confirmez votre mot de passe', 'attr': {'placeholder':'******'}}) }}
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Inscription</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}