<div class="card">
    <div class="card-header">
        <h5>Mes adresses ({{ myAddresses|length }})</h5>
    </div>
    {% if myAddresses %}
        <div class="card-body">
            {% for myAddress in  myAddresses %}
            <div class="col-12 mx-auto border rounded mb-3">
                <h5 class="mt-2">{{ myAddress.titre| capitalize }}</h5>
                {# <button type="button"><a href="{{ path('address.delete', {'id': myAddress.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ myAddress.id) }}">x</a></button> #}

                <p style="line-height:5px;">{{ myAddress.infoaddress }} - {{ myAddress.infoautre }}</p>
                <p style="line-height:5px;">Contact:  0{{ myAddress.phone }}</p>
                <p>{{ myAddress.postalCode }} - {{ myAddress.city| upper }}</p>
            </div>
            {% endfor %}
        </div>    
    {% else %}
        <div class="col-6 mx-auto mt-3 mb-3">
            <a href="{{path('address_new')}}" class="btn btn-primary">Ajouter une adresse</a>
        </div>
    {% endif %}
</div>