{% extends 'base.html.twig' %}

{% block title %}Espace Personnel {% endblock %}

{% block body %}

<div class="container">
    <div class="col-7"><h3>Bienvenue dans votre espace, {{ app.user.username|capitalize }}</h3><hr></div>
    
    <div class="row mt-5">
        <div class="col-md-7">
            {{ include('profil/_commande.html.twig') }}
        </div>
        <div class="col-md-5">
            {{ include('profil/_profil.html.twig') }}
        </div>    
    </div>
    <div class="row mt-4">
        <div class="col-md-7">
            {{ include('profil/_article.html.twig') }}
        </div>
        <div class="col-md-5">
            {{ include('profil/_address.html.twig') }}
        </div>    
    </div>
</div>
{% endblock %}
