{% extends 'base.html.twig' %}

{% block title %}Espace historiques commandes{% endblock %}

{% block body %}
    {# {{ dump(commandes) }}
    {{ dump(commandedetails) }} #}

    <div class="bg-light p-3">
        <div class="d-flex">
            <div class="p-3"><h1>Historique des commandes</h1></div>
            <div class="ml-auto p-3"><p style="font-size:2.5em;"><B>{{ total }} €</B></p></div>
        </div>
    </div>

    <table class="table">
        <thead>
                <tr>
                    <th>Désignation</th>
                    <th>Total</th>
                    <th>Nbr(article)</th>
                    <th>Date commande</th>
                    <th>Statut</th>
                    <th></th>
                </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <div id="commandes" class="mt-5">
                <tr class="mt-5">
                    <td>{{ commande.reference }}</td>
                    <td>{{ commande.total|number_format(2) }} €</td>
                    <td>{{ commande.totalqty }}</td>
                    <td>{{ commande.created ? commande.created|date('d-m-Y H:i:s') : ''}}</td>
                    <td><span class="badge badge-success badge-pill">En traitement</span></td>
                    <td><a href="#" class="btn btn-outline-secondary btn-sm">Détails</a></td>                  </td>
                </tr>
            </div>
        {% else %}
            <tr>
                <td colspan="8">aucune commande enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    

{% endblock %}
