{% extends 'base.html.twig' %}

{% block title %}descriptif Commande{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6">
            <h1>commande {{ commande.reference }}</h1> 
        </div>
        <div class="col-6 my-auto">
            <a href="{{ path('commande_index') }}" class="btn btn-primary float-right">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                </svg>
                Retour
            </a>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ commande.reference }}</td>
            </tr>
            <tr>
                <th>Article</th>
                <td>{{ commande.article.reference }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ commande.article.description }}</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ commande.quantity }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ commande.price }} €</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ commande.total }} €</td>
            </tr>
            <tr>
                <th>Crée le</th>
                <td>{{ commande.createdAt ? commande.createdAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Crée par</th>
                <td>{{ commande.employee.lastname }}, {{ commande.employee.firstname }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('commande_index') }}"></a>

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
