{% extends 'base.html.twig' %}

{% block title %}Commande Checked{% endblock %}

{% block body %}
    <h1>test panier</h1>

    <p>{{ dump(panier) }}</p>
    <p>{{ dump(user) }}</p>
    {# <p>{{ dump(lastCommande[0].RefCommande) }}</p>
    <p>{{ dump(refD) }}</p>
    <p>{{ dump(ref) }}</p> #}






    


{% endblock %}
