{% extends 'base.html.twig' %}

{% block title %}Edit Employee{% endblock %}

{% block body %}
    <div container="mt-4 w-25">
        <h1>Edit Employe</h1>
        <div class="form-group mt-3 ">
            {{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder':'{{ app.user.email}}'}}) }}
            {{ form_row(form.lastname, {'label': 'Nom', 'attr': {'placeholder':'DEVILLE'}}) }}
            {{ form_row(form.firstname, {'label': 'Prénom', 'attr': {'placeholder':'fabien'}}) }}
        </div>
        


        <button type="submit" class="btn btn-primary">Modifier</button>
        
        <a href="{{ path('employee_index') }}">Retour à la liste</a>

        {{ include('employee/_delete_form.html.twig') }}
    </div>
{% endblock %}
