{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-5">
            <h1>Listes des articles</h1>
        </div>
        <div class="col-6 pt-2">
            {{ form_start(form) }}
            <div class="form-row">
                <div class="col-6">
                    {{ form_row(form.info) }}
                </div>
                <div class="col-2 pr-5">
                    <button class="btn btn-primary">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                        </svg>
                    </button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-1 mb-3 pt-2">
            <a href="{{ path('article_new') }}" class="btn btn-primary mb-4">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </a>
        </div>
    </div>

    <div class="row">
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Description</th>
                <th>Catalogue</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.reference }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.catalog.reference }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-primary">détails</a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-secondary">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune information correspondant à votre recherche : <b>{{ recherche.info }}</b></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination justify-content-center mt-4">
        {{ knp_pagination_render(articles) }}
    </div>

{% endblock %}
